.banner {
	background: rgb(68, 73, 193);
	background: linear-gradient(
		139deg,
		rgba(68, 73, 193, 1) 0%,
		rgba(0, 0, 0, 1) 50%,
		rgba(90, 42, 143, 1) 100%
	);
	min-height: 100vh;
	overflow: hidden;
	z-index: 1000;
	display: flex;
	align-items: flex-end;

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		width: 50%;
	}

	&__title {
		margin: 2rem 0 1.5rem;
		font-size: 7.2rem;
		font-weight: 700;
		line-height: 1;
	}

	&__desc {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}

	&__logo {
		margin-top: 6rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		&-item {
			width: 5.5rem;
			padding-right: 1rem;
		}
	}

	&__image {
		min-width: 40rem;
		width: 50%;
		padding: 5rem 5rem 0;
	}
}

@media screen and (max-width: 1099px) {
	.banner {
		display: flex;
		align-items: center;
		justify-content: center;

		&__container {
			flex-direction: column;
			margin-top: 15rem;
		}

		&__content {
			width: 70%;
			text-align: center;
		}

		&__logo {
			justify-content: center;
		}

		&__image {
			width: 70%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
	}
}

@media screen and (max-width: 991px) {
	/* start of large tablet styles */
}

@media screen and (max-width: 767px) {
	.banner {
		&__container {
			margin-top: 10rem;
			justify-content: space-between;
		}

		&__content {
			width: 90%;
			text-align: center;
		}
		&__title {
			font-size: 6rem;
		}

		&__desc {
			font-size: 2rem;
			margin-bottom: 2rem;
		}

		&__image {
			width: 90%;
		}
	}
}

@media screen and (max-width: 479px) {
	.banner {
		&__container {
			margin-top: 5rem;
		}

		&__title {
			font-size: 4.5rem;
		}

		&__desc {
			font-size: 1.5rem;
		}
	}
}
