.gallery {
	padding-top: 10rem;
	padding-bottom: 10rem;
	background-color: $secondary-color;
	color: $black-color;
}

.gallery__title {
	font-size: 5rem;
	text-align: center;
	font-weight: bold;

	margin-bottom: 3rem;
}

.gallery__slider {
	max-width: 90rem;
	margin: 0 auto;
}

.gallery__box img {
	object-fit: contain;
	border-radius: 1rem;
	position: relative;
	box-shadow: rgb(246 243 42) 0px 5px 10px 0px,
		rgb(255 255 255 / 65%) 0px 2px 4px 0px,
		rgb(255 255 255 / 5%) 0px 0px 0px 1px inset;
}

.gallery-tutorial {
	max-width: 90rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	&__title {
		font-size: 2.4rem;
		text-align: center;
		font-weight: bold;

		margin-bottom: 2rem;
	}

	&__item {
		font-size: 1.6rem;
		margin-bottom: 1rem;

		span {
			text-decoration: underline;
		}
	}

	&__highlight-green {
		color: #00ff68;
		font-weight: bold;
	}

	&__highlight-blue {
		color: #00b4ff;
		font-weight: bold;
	}

	&__highlight-yellow {
		color: #ffd800;
		font-weight: bold;
	}
}

@media screen and (max-width: 767px) {
	.gallery {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.gallery__title {
		font-size: 3.5rem;
	}
}

@media screen and (max-width: 479px) {
	.gallery__title {
		font-size: 3rem;
	}
}
