.header.white {
	background-color: $white-color;
}

.header {
	height: 66px;
	background-color: $white-color;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

	&__black {
		background-color: $white-color;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	&__logo {
		width: 12rem;

		&-mobile {
			display: none;
		}
	}

	&__menu {
		margin-left: auto;

		&-list {
			display: flex;
			align-items: center;
		}

		&-item {
			margin: 1rem 1.6rem;
			font-size: 1.6rem;
		}

		&-link {
			color: $black-color;
			font-weight: 700;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	&__button {
		padding: 1rem 2rem;
		border: 1px solid;
		border-radius: 0.8rem;
	}

	&__language {
	}

	&__bars,
	&__close {
		display: none;
		cursor: pointer;
		font-size: 3rem;
		padding: 1rem 1rem;
		margin: 0 0.6rem;
		border-radius: 0.8rem;
		color: $black-color;

		&:hover {
			background-color: $green-color;
		}
	}

	&__close {
		color: $white-color;
	}
}

@media screen and (max-width: 1099px) {
	.header {
		&__logo {
			&-mobile {
				display: block;
				cursor: pointer;
				margin-bottom: 3rem;
			}
		}

		&__menu {
			position: absolute;
			top: -100vh;
			left: 0;
			bottom: 0;
			right: 0;
			height: 100vh;
			background-color: $black-color;
			z-index: 100;
			transition: 0.5s;

			&-list {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin: auto;
				height: 100%;
			}

			&-item {
				margin-bottom: 3rem;
				font-size: 1.8rem;
				font-weight: 700;
			}

			&-link {
				color: $white-color;
			}
		}

		&__language {
			margin-left: auto;
		}

		&__bars {
			display: block;
		}

		&__close {
			display: inline-block;
			position: absolute;
			top: 1rem;
			right: 2rem;
		}

		&__button {
			background-color: $green-color;
			border: 1px solid transparent;
			padding: 1rem 5rem;
		}
	}
}
