.intro {
	color: $black-color;

	padding-top: 8rem;
	padding-bottom: 8rem;

	font-size: 1.8rem;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 5rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 1.5rem;
		color: $green-color;
	}

	&__subtitle {
		font-size: 2.1rem;
		font-weight: 500;
		text-align: center;
		margin-bottom: 3rem;
	}

	&__list {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		margin-bottom: 5rem;
	}

	&__item {
		width: calc(33.33% - 2.5rem);

		&-title {
			font-size: 2.1rem;
			font-weight: 700;
			margin-bottom: 1.5rem;

			&:before {
				left: 0;
				content: '\2014';
				font-size: inherit;
				width: 13px;
				min-width: 1.2em;
				align-self: flex-start;
			}
		}
	}

	&__conclude {
		font-size: 1.8rem;
		font-weight: 500;

		margin-bottom: 3rem;
	}

	&__button {
		width: fit-content;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1099px) {
}

@media screen and (max-width: 991px) {
	/* start of large tablet styles */
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
	.intro__title {
		font-size: 3.5rem;
	}

	.intro__subtitle {
		font-size: 1.5rem;
	}

	.intro__list {
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
	}

	.intro__item {
		width: 90%;
		margin-bottom: 2.5rem;
	}

	.intro {
		padding-top: 4rem;
		padding-bottom: 4rem;
		font-size: 1.5rem;
	}

	.intro__conclude {
		font-size: 1.5rem;
	}
}
