.optimize {
	padding-top: 10rem;
	padding-bottom: 10rem;
	background-color: $black-color;
	overflow-y: hidden;
	height: 60rem;

	&__container {
		color: $white-color;
		display: flex;
		align-items: flex-start;
	}

	&__image {
		width: 50%;
		position: relative;

		&-item1 {
			position: relative;
			left: 5rem;
			top: 12rem;
			width: 33rem;
			z-index: 1;
			transition: top 0.3s ease-in-out;

			&:hover {
				top: -3rem;
			}
		}

		&-item2 {
			position: absolute;
			left: 20rem;
			top: 5rem;
			width: 33rem;
			z-index: 1;
			transition: top 0.3s ease-in-out;

			&:hover {
				top: -10rem;
			}
		}
	}
}

@media screen and (max-width: 1099px) {
	.optimize {
		height: auto;
		top: 0;
		overflow-y: hidden;
	}

	.optimize__container {
		flex-direction: column;
		align-items: center;
		margin-bottom: -60rem;
		overflow-y: hidden;
	}

	.optimize__image {
		position: static;
		padding-top: 5rem;
	}

	.optimize__image-item1 {
		position: static;

		width: 70%;
		z-index: 0;
		transition: top 0.3s ease-in-out;
	}

	.optimize__image-item2 {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.optimize__image {
		width: 70%;
	}
}

@media screen and (max-width: 767px) {
	.optimize__container {
		margin-bottom: -50rem;
	}
}

@media screen and (max-width: 479px) {
	.optimize {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.optimize__container {
		margin-bottom: -30rem;
	}
}
