.page__content {
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;

	min-height: 100%;
	margin-left: $width-sidebar;
}

.dashboard__wrapper {
	padding: 0 1rem;
}

.page__header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 7rem;
	background-color: $white-color;
	box-shadow: 0 1px 4px 0 #cfdae0;
	border-bottom: 1px solid transparent;
	z-index: 1;
	position: fixed;
	left: $width-sidebar;
	right: 0;
	top: 0;
}

.top-panel__button {
	margin-right: 2rem;
	font-size: 2rem;
	cursor: pointer;
}

.top-panel__exchange {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.header-counter {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;

	&:first-child {
		margin-right: 2rem;
	}
}

.header__label {
	font-size: 1.3rem;
	color: #bac2c8;
}

.header__value {
	font-size: 1.4rem;
	color: #000000;
	font-weight: 700;
}

.header__movement {
	font-size: 1.2rem;

	&.plus {
		color: #07bf60;
	}

	&.minus {
		color: #ff5a5f;
	}
}

.top-panel__balance {
	margin-left: auto;
	margin-right: 2rem;
	border-radius: 1rem;
	border: 1px solid #00a59a;
	background-color: rgba(0, 165, 154, 0.1);
	padding: 0.2rem 1rem;
}

.balance__title {
	font-size: 1.5rem;
	color: #00a59a;
	text-align: center;
	margin-bottom: 0.5rem;
	font-size: 600;
}

.balance__value-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;
}

.balance__value-text-small {
	font-size: 1.4rem;
	color: #00a59a;
}

.top-panel__user {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.top-panel__user-left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-right: 1.5rem;

	&-title {
		font-size: 2rem;
		font-weight: bold;
	}

	&-upgrade {
		font-size: 1.2rem;
		color: #00a59a;
		cursor: pointer;
	}
}

.top-panel__user-right {
	position: relative;
}

.top-panel__user-info {
	display: flex;
	align-items: center;
	cursor: pointer;

	i {
		font-size: 1.5rem;
	}
}

.top-panel__user-right-avatar img {
	border-radius: 50%;
	margin-right: 0.5rem;
	border: 1px solid transparent;
}

// user__dropdown
.user__dropdown {
	position: absolute;
	right: 0;
	top: 5rem;
	background-color: $white-color;
	box-shadow: 0 2px 4px rgb(50 64 78 / 10%);
	border: 1px solid #cfdae0;
	border-radius: 1rem;
	width: 19rem;
	// display: none;
}

.user__dropdown__container {
	padding: 1.2rem;
}

.user__dropdown-header {
	font-size: 1.4rem;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: 1px solid #cfdae0;
}

.user__dropdown-body {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.user__dropdown-list {
	margin: 1rem 0;
}

.user__dropdown-link {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	font-size: 1.4rem;
	color: $text-color-dashboard;

	i {
		padding-right: 1.6rem;
		position: relative;
		width: 2.5rem;
	}

	&:hover {
		color: #00a59a;
	}
}

.dropdown__button {
	color: $white-color;
	background-color: #00a59a;
	padding: 1rem 4rem;
	outline: none;
	border-radius: 0.5rem;
	font-size: 1.3rem;

	width: 100%;
	font-size: 1.5rem;

	display: inline-block;
	font-weight: bold;
}

.dropdown__button-content {
	display: flex;
	align-items: center;

	i {
		margin-right: 1rem;
	}
}

.page__exchange {
	margin-top: $height-header;
	height: 100rem;
}

.page__footer {
	// height: 10rem;
	// background-color: $white-color;
	background-color: $white-color;
	color: $text-color-dashboard;

	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5rem;

	box-shadow: 0 1px 4px 0 #cfdae0;
	border-top: 1px solid transparent;
	z-index: 1;
	font-size: 1.5rem;

	width: 100%;

	&__logo-list {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__logo-item {
		width: 5.5rem;
		padding-right: 1rem;
		color: #00a59a;

		img {
			filter: invert(100%);
		}
	}

	&__term-and-mail {
		display: flex;
		align-items: center;
	}

	&__term a,
	&__mail a {
		color: #5790e0;
	}

	&__term,
	&__mail {
		padding: 0 0.5rem;
	}

	&__term {
		border-right: 1px solid gray;
	}
}
