.pricing {
	padding-top: 8rem;
	padding-bottom: 6rem;
	background-color: #d0cde0;
	color: $black-color;
}

@media screen and (max-width: 1099px) {
	/* start of desktop styles */
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}
