.register {
	padding-top: 16rem;
	padding-bottom: 10rem;
	color: $black-color;

	&__container {
		max-width: 67.5rem;
		width: 100%;
		margin-right: auto;
	}

	&__title {
		font-size: 3rem;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	&__subtitle {
		font-size: 1.6rem;
		font-weight: 500;
		margin-bottom: 2rem;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 2rem;
	}

	&__button {
		margin-right: 1rem;
		border-radius: 0.5rem;
		padding: 1rem 4rem;

		display: flex;
		align-items: center;
		justify-content: center;

		i {
			margin-right: 1rem;
		}
	}

	&__or {
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}

	&__form {
		width: 100%;

		&-group {
			margin-bottom: 2rem;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
		}

		&-label {
			font-size: 1.8rem;
			font-weight: 600;
			margin-bottom: 0.8rem;
		}

		&-input {
			width: 100%;

			border: 1px solid #0c0c0c;
			padding: 1rem;
			font-size: 1.6rem;
			font-weight: 500;
			color: $black-color;
			outline: none;
		}

		&-check {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 2rem;
			font-size: 1.8rem;
		}

		&-checkbox {
			margin-right: 1rem;
			width: 2rem;
			height: 2rem;
			border: 1px solid $primary-color;
		}

		&-submit {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 2rem;
		}

		&-button {
			border: none;
			color: $white-color;
			background: $primary-color;
			outline: none;
			margin-right: 2rem;
			border-radius: 0.5rem;
			padding: 1.2rem 5rem;
			font-size: 1.8rem;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}

		&-forgot {
			font-size: 1.8rem;
			color: $primary-color;
			text-decoration: underline;

			&:hover {
				opacity: 0.9;
			}
		}

		&-policy {
			font-size: 1.8rem;
			padding-bottom: 3rem;
			margin-bottom: 2rem;
			border-bottom: 1px solid #0c0c0c;

			a {
				color: $primary-color;
				text-decoration: underline;

				&:hover {
					opacity: 0.9;
				}
			}
		}
	}

	&__footer {
		&-text {
			font-size: 1.8rem;
			font-weight: 500;
			margin-bottom: 2rem;
		}

		&-link {
			font-size: 1.8rem;
			font-weight: 500;
			margin-bottom: 2rem;
			color: $primary-color;
			text-decoration: underline;

			&:hover {
				opacity: 0.9;
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.login__buttons {
		flex-direction: column;
	}

	.login__button {
		width: 100%;

		&:first-child {
			margin-bottom: 1rem;
		}
	}
}

@media screen and (max-width: 479px) {
	.register__buttons {
		flex-direction: column;
	}

	.register__button {
		width: 100%;

		&:first-child {
			margin-bottom: 1rem;
		}
	}
}
