.toolkit {
	padding-top: 18rem;
	padding-bottom: 10rem;
	background-color: #f4f4f4;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__image {
		width: 50%;
		position: relative;

		&-item1 {
			position: relative;
			right: 0rem;
			width: 50rem;
			z-index: 2;
		}

		&-item2 {
			position: absolute;
			top: -8rem;
			right: 5rem;
			width: 50rem;
			z-index: 1;
		}
	}
}

@media screen and (max-width: 1099px) {
	.toolkit__container {
		flex-direction: column;
	}

	.toolkit__image {
		width: 50%;
	}

	.toolkit__feature {
		margin-top: 5rem;
	}

	.toolkit {
		padding-top: 15rem;
		padding-bottom: 8rem;
	}
}

@media screen and (max-width: 991px) {
	.toolkit__image {
		width: 70%;
	}
}

@media screen and (max-width: 767px) {
	.toolkit__image {
		width: 90%;
	}

	.toolkit {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
}

@media screen and (max-width: 600px) {
	.toolkit__image-item2 {
		display: none;
	}

	.toolkit {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}
