html {
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.2;
  color: #fff;
}

.wrapper {
  max-width: 1370px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  max-width: 1256px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.button {
  padding: 1.5rem 4rem;
  outline: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #fff;
  background: #5459ee;
  background: linear-gradient(139deg, #5459ee 0%, #5758ee 50%, #864bee 100%);
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
.button--green {
  background-color: #07bf60;
}
.button:hover {
  opacity: 0.9;
}

.feature {
  padding: 4rem 3rem;
  width: 50%;
  color: #0c0c0c;
}
.feature__subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.feature__title {
  font-size: 6rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1;
}
.feature__title span {
  display: block;
  color: #535aee;
}
.feature__desc {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.feature__desc span {
  font-weight: bold;
}
.feature--white {
  color: #fff;
}

.header.black {
  background-color: #0c0c0c;
}

.header {
  height: 66px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__logo {
  width: 10rem;
}
.header__menu-list {
  display: flex;
  align-items: center;
}
.header__menu-item {
  margin: 1rem 2rem;
  font-size: 1.4rem;
}
.header__menu-link {
  color: #fff;
  font-weight: 700;
}
.header__menu-link:hover {
  opacity: 0.6;
}
.header__button {
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 0.8rem;
}
.header__language i {
  font-size: 2rem;
}

.banner {
  background: #4449c1;
  background: linear-gradient(139deg, #4449c1 0%, black 50%, #5a2a8f 100%);
  height: 80vh;
  overflow: hidden;
  z-index: 1000;
  padding-top: 15rem;
}
.banner__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner__content {
  width: 50%;
}
.banner__title {
  margin: 2rem 0 1.5rem;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1;
}
.banner__desc {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.banner__logo {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner__logo-item {
  width: 5.5rem;
  padding-right: 1rem;
}
.banner__image {
  width: 50%;
  padding: 0 5rem;
}

.intro {
  margin-top: 2rem;
  margin-bottom: 8rem;
  color: #0c0c0c;
}
.intro__container {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}
.intro__title {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.intro__desc {
  font-size: 2.4rem;
}
.intro__desc span {
  font-weight: 700;
}

.solution {
  margin-bottom: 14rem;
}
.solution__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solution__image {
  width: 50%;
}

.toolkit {
  padding-top: 18rem;
  padding-bottom: 10rem;
  background-color: #f4f4f4;
}
.toolkit__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolkit__image {
  width: 50%;
  position: relative;
}
.toolkit__image-item1 {
  position: relative;
  right: 0rem;
  width: 50rem;
  z-index: 2;
}
.toolkit__image-item2 {
  position: absolute;
  top: -8rem;
  right: 5rem;
  width: 50rem;
  z-index: 1;
}

.optimize {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #0c0c0c;
  overflow-y: hidden;
  height: 60rem;
}
.optimize__container {
  color: #fff;
  display: flex;
  align-items: flex-start;
}
.optimize__image {
  width: 50%;
  position: relative;
}
.optimize__image-item1 {
  position: relative;
  left: 5rem;
  top: 12rem;
  width: 40rem;
  z-index: 2;
  transition: top 0.3s ease-in-out;
}
.optimize__image-item1:hover {
  top: -3rem;
}
.optimize__image-item2 {
  position: absolute;
  left: 20rem;
  top: 5rem;
  width: 40rem;
  z-index: 1;
  transition: top 0.3s ease-in-out;
}
.optimize__image-item2:hover {
  top: -10rem;
}

.review {
  padding-top: 5rem;
  padding-bottom: 10rem;
  color: #0c0c0c;
}
.review__title {
  width: 70rem;
  font-size: 6.1rem;
  color: #07bf60;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

.pricing {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background-color: #0c0c0c;
}
.pricing__intro {
  text-align: center;
}
.pricing__subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.pricing__title {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1;
}
.pricing__desc {
  font-size: 1.8rem;
  margin-bottom: 5rem;
  width: 33rem;
  margin: 0 auto 5rem;
}
.pricing__heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.pricing__button {
  margin-bottom: 4rem;
}
.pricing__package {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
}
.pricing__package-item {
  width: calc(33.33% - 2.66rem);
  background-color: #162135;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.pricing__package-title {
  text-transform: uppercase;
  background-color: #535aee;
  font-size: 1.8rem;
  padding: 1rem 0;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.pricing__content {
  padding: 2rem 1rem;
}
.pricing__newprice {
  font-size: 4.8rem;
  font-weight: bold;
}
.pricing__price {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ffffff63;
  text-decoration: line-through;
}
.pricing__saving {
  font-size: 2.4rem;
  font-weight: bold;
  color: #888888;
  margin-bottom: 1rem;
}
.pricing__saving-green {
  color: #07bf60;
}
.pricing__button-item {
  margin-bottom: 5rem;
}
.pricing__expired {
  font-size: 1.4rem;
}
.pricing__expired-border {
  padding: 0.4rem 2rem;
  border-radius: 0.5rem;
  width: fit-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.21);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.pricing__expired-border:hover {
  background-color: #1212c0;
}
.pricing__checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pricing__checkout-left, .pricing__checkout-right {
  width: 50%;
}
.pricing__checkout-title {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.pricing__checkout-desc {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.pricing__checkout-desc span {
  font-weight: bold;
}
.pricing__checkout-block {
  width: fit-content;
  margin: 0 auto;
}
.pricing__checkout-advantage {
  font-size: 2rem;
  padding: 1.5rem 0 1.5rem 0;
  display: flex;
  align-items: center;
}
.pricing__checkout-advantage i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #07bf60;
}
.pricing__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing__logo-item {
  width: 7rem;
  padding-right: 1rem;
}

.question {
  color: #0c0c0c;
  padding-top: 6rem;
  padding-bottom: 10rem;
}
.question__subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.question__title {
  font-size: 6.4rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.question__title span {
  display: block;
}

.discord {
  padding-top: 10rem;
  padding-bottom: 18rem;
  background: linear-gradient(to bottom right, #2646b1 0%, #8952e4 94%);
  background: #4449c1;
  background: linear-gradient(139deg, #4449c1 0%, black 50%, #5a2a8f 100%);
}
.discord__container {
  text-align: center;
}
.discord__subtitle {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.discord__logo {
  width: 40rem;
  margin: 0 auto 4rem;
}
.discord__official {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.discord__official img {
  margin-right: 1rem;
}
.discord__partner {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.discord__button {
  background-color: #fff;
  color: #535aee;
  padding: 2rem 5rem;
  border: 1px solid transparent;
}
.discord__button:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid;
}

.contact {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.contact__container {
  width: 112rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__left, .contact__right {
  width: calc(50% - 2.5rem);
}
.contact__title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.contact__desc {
  font-size: 1.5rem;
}
.contact__right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.contact__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}
.contact__form input {
  flex-grow: 1;
  padding: 0.9rem 1.2rem;
  font-size: 1.4rem;
  background-color: #0c0c0c;
  border: 1px solid #504f4f;
  outline: none;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  color: #fff;
}
.contact__button {
  padding: 0.9rem 1.2rem;
  font-size: 1.4rem;
  background-color: transparent;
  border: 1px solid #504f4f;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.contact__button:hover {
  color: #0c0c0c;
  background-color: #fff;
}
.contact__rule {
  margin-left: 1rem;
  font-size: 1.2rem;
  opacity: 0.6;
}

.footer {
  background-color: #0c0c0c;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

/*# sourceMappingURL=style.css.map */
