html {
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.2;
  color: #fff;
}

.wrapper {
  max-width: 1370px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  max-width: 1256px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.button {
  padding: 1.5rem 4rem;
  outline: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #fff;
  background: #5459ee;
  background: linear-gradient(139deg, #5459ee 0%, #5758ee 50%, #864bee 100%);
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
.button--green {
  background: #07bf60;
}
.button--apple {
  background: black;
  background: linear-gradient(139deg, black 0%, black 50%, black 100%);
}
.button--facebook {
  background: #3b5998;
  background: linear-gradient(139deg, #3b5998 0%, #3b5998 50%, #3b5998 100%);
}
.button:hover {
  opacity: 0.9;
}

.feature {
  padding: 4rem 3rem;
  width: 50%;
  color: #0c0c0c;
}
.feature__subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.feature__title {
  font-size: 6rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1;
}
.feature__title span {
  display: block;
  color: #5459ee;
  color: linear-gradient(139deg, #5459ee 0%, #5758ee 50%, #864bee 100%);
}
.feature__desc {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.feature__desc span {
  font-weight: bold;
}
.feature--white {
  color: #fff;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-clamp--3 {
  -webkit-line-clamp: 3;
}

@media screen and (max-width: 1099px) {
  html {
    font-size: 60%;
  }

  .feature {
    width: 90%;
  }
}
@media screen and (max-width: 991px) {
  html {
    font-size: 58.5%;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 55%;
  }

  .feature {
    padding: 0;
  }

  .feature__subtitle {
    font-size: 2.1rem;
  }

  .feature__title {
    font-size: 4rem;
  }

  .feature__desc {
    font-size: 1.8rem;
  }

  .wrapper,
.container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 479px) {
  .feature__subtitle {
    font-size: 1.8rem;
  }

  .feature__title {
    font-size: 3.5rem;
  }

  .feature__desc {
    font-size: 1.5rem;
  }
}
.header.black {
  background-color: #0c0c0c;
}

.header {
  height: 66px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__black {
  background-color: #0c0c0c;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__logo {
  width: 10rem;
}
.header__logo-mobile {
  display: none;
}
.header__menu {
  margin-left: auto;
}
.header__menu-list {
  display: flex;
  align-items: center;
}
.header__menu-item {
  margin: 1rem 1.6rem;
  font-size: 1.4rem;
}
.header__menu-link {
  color: #fff;
  font-weight: 700;
}
.header__menu-link:hover {
  opacity: 0.6;
}
.header__button {
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 0.8rem;
}
.header__language {
  padding: 1rem 1rem;
  margin: 0 0.6rem;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 3rem;
}
.header__language:hover {
  background-color: #535aee;
}
.header__bars, .header__close {
  display: none;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem 1rem;
  margin: 0 0.6rem;
  border-radius: 0.8rem;
}
.header__bars:hover, .header__close:hover {
  background-color: #535aee;
}

@media screen and (max-width: 1099px) {
  .header__logo-mobile {
    display: block;
    cursor: pointer;
    margin-bottom: 3rem;
  }
  .header__menu {
    position: absolute;
    top: -100vh;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: #0c0c0c;
    z-index: 100;
    transition: 0.5s;
  }
  .header__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
  }
  .header__menu-item {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .header__language {
    margin-left: auto;
  }
  .header__bars {
    display: block;
  }
  .header__close {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .header__button {
    background-color: #07bf60;
    border: 1px solid transparent;
    padding: 1rem 5rem;
  }
}
.banner {
  background: #4449c1;
  background: linear-gradient(139deg, #4449c1 0%, black 50%, #5a2a8f 100%);
  min-height: 100vh;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
}
.banner__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner__content {
  width: 50%;
}
.banner__title {
  margin: 2rem 0 1.5rem;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1;
}
.banner__desc {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.banner__logo {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner__logo-item {
  width: 5.5rem;
  padding-right: 1rem;
}
.banner__image {
  min-width: 40rem;
  width: 50%;
  padding: 5rem 5rem 0;
}

@media screen and (max-width: 1099px) {
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner__container {
    flex-direction: column;
    margin-top: 15rem;
  }
  .banner__content {
    width: 70%;
    text-align: center;
  }
  .banner__logo {
    justify-content: center;
  }
  .banner__image {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
@media screen and (max-width: 991px) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) {
  .banner__container {
    margin-top: 10rem;
    justify-content: space-between;
  }
  .banner__content {
    width: 90%;
    text-align: center;
  }
  .banner__title {
    font-size: 6rem;
  }
  .banner__desc {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .banner__image {
    width: 90%;
  }
}
@media screen and (max-width: 479px) {
  .banner__container {
    margin-top: 5rem;
  }
  .banner__title {
    font-size: 4.5rem;
  }
  .banner__desc {
    font-size: 1.5rem;
  }
}
.intro {
  margin-top: 2rem;
  margin-bottom: 8rem;
  color: #0c0c0c;
}
.intro__container {
  max-width: 70rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.intro__title {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.intro__desc {
  font-size: 2.4rem;
}
.intro__desc span {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .intro {
    margin-bottom: 4rem;
  }

  .intro__title {
    font-size: 4rem;
  }

  .intro__desc {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 479px) {
  .intro__title {
    font-size: 3.5rem;
  }

  .intro__desc {
    font-size: 1.5rem;
  }
}
.solution {
  margin-bottom: 14rem;
}
.solution__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solution__image {
  width: 50%;
}

@media screen and (max-width: 1099px) {
  .solution__container {
    flex-direction: column-reverse;
  }

  .solution__image {
    width: 50%;
  }
}
@media screen and (max-width: 991px) {
  .solution__image {
    width: 70%;
  }

  .solution {
    margin-bottom: 10rem;
  }
}
@media screen and (max-width: 767px) {
  .solution__image {
    width: 90%;
  }

  .solution {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 479px) {
  /* start of phone styles */
}
.toolkit {
  padding-top: 18rem;
  padding-bottom: 10rem;
  background-color: #f4f4f4;
}
.toolkit__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolkit__image {
  width: 50%;
  position: relative;
}
.toolkit__image-item1 {
  position: relative;
  right: 0rem;
  width: 50rem;
  z-index: 2;
}
.toolkit__image-item2 {
  position: absolute;
  top: -8rem;
  right: 5rem;
  width: 50rem;
  z-index: 1;
}

@media screen and (max-width: 1099px) {
  .toolkit__container {
    flex-direction: column;
  }

  .toolkit__image {
    width: 50%;
  }

  .toolkit__feature {
    margin-top: 5rem;
  }

  .toolkit {
    padding-top: 15rem;
    padding-bottom: 8rem;
  }
}
@media screen and (max-width: 991px) {
  .toolkit__image {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .toolkit__image {
    width: 90%;
  }

  .toolkit {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
@media screen and (max-width: 600px) {
  .toolkit__image-item2 {
    display: none;
  }

  .toolkit {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.optimize {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #0c0c0c;
  overflow-y: hidden;
  height: 60rem;
}
.optimize__container {
  color: #fff;
  display: flex;
  align-items: flex-start;
}
.optimize__image {
  width: 50%;
  position: relative;
}
.optimize__image-item1 {
  position: relative;
  left: 5rem;
  top: 12rem;
  width: 33rem;
  z-index: 1;
  transition: top 0.3s ease-in-out;
}
.optimize__image-item1:hover {
  top: -3rem;
}
.optimize__image-item2 {
  position: absolute;
  left: 20rem;
  top: 5rem;
  width: 33rem;
  z-index: 1;
  transition: top 0.3s ease-in-out;
}
.optimize__image-item2:hover {
  top: -10rem;
}

@media screen and (max-width: 1099px) {
  .optimize {
    height: auto;
    top: 0;
    overflow-y: hidden;
  }

  .optimize__container {
    flex-direction: column;
    align-items: center;
    margin-bottom: -60rem;
    overflow-y: hidden;
  }

  .optimize__image {
    position: static;
    padding-top: 5rem;
  }

  .optimize__image-item1 {
    position: static;
    width: 70%;
    z-index: 0;
    transition: top 0.3s ease-in-out;
  }

  .optimize__image-item2 {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .optimize__image {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .optimize__container {
    margin-bottom: -50rem;
  }
}
@media screen and (max-width: 479px) {
  .optimize {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .optimize__container {
    margin-bottom: -30rem;
  }
}
.review {
  padding-top: 5rem;
  color: #0c0c0c;
}
.review__title {
  width: 70rem;
  font-size: 6.1rem;
  color: #07bf60;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 90%;
}
.review__slider {
  width: 90rem;
  margin: 0 auto;
}
.review__box {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 0;
}
.review__box__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.review__box__desc {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.review__box__stars {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.review__box__star {
  width: 3rem;
  margin-right: 0.1rem;
}
.review__box__user {
  display: flex;
  align-items: center;
}
.review__box__user-img {
  width: 5rem;
  height: 5rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 2rem;
}
.review__box__user-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.swiper {
  width: 95%;
  margin-bottom: 5rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #07bf60;
}

@media screen and (max-width: 1099px) {
  .review__title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 991px) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) {
  .review__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 479px) {
  .review__title {
    font-size: 3.5rem;
  }
}
.pricing {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background-color: #0c0c0c;
}
.pricing__intro {
  text-align: center;
}
.pricing__subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.pricing__title {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1;
}
.pricing__desc {
  font-size: 1.8rem;
  margin-bottom: 5rem;
  width: 33rem;
  margin: 0 auto 5rem;
}
.pricing__heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.pricing__button {
  margin-bottom: 4rem;
}
.pricing__package {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
}
.pricing__package-item {
  width: calc(33.33% - 2.66rem);
  background-color: #162135;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.pricing__package-title {
  text-transform: uppercase;
  background-color: #535aee;
  font-size: 1.8rem;
  padding: 1rem 0;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.pricing__content {
  padding: 2rem 1rem;
}
.pricing__newprice {
  font-size: 4.8rem;
  font-weight: bold;
}
.pricing__price {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ffffff63;
  text-decoration: line-through;
}
.pricing__saving {
  font-size: 2.4rem;
  font-weight: bold;
  color: #888888;
  margin-bottom: 1rem;
}
.pricing__saving-green {
  color: #07bf60;
}
.pricing__button-item {
  margin-bottom: 5rem;
}
.pricing__expired {
  font-size: 1.4rem;
}
.pricing__expired-border {
  padding: 0.4rem 2rem;
  border-radius: 0.5rem;
  width: fit-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.21);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.pricing__expired-border:hover {
  background-color: #1212c0;
}
.pricing__checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pricing__checkout-left, .pricing__checkout-right {
  width: 50%;
}
.pricing__checkout-title {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.pricing__checkout-desc {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.pricing__checkout-desc span {
  font-weight: bold;
}
.pricing__checkout-block {
  width: fit-content;
  margin: 0 auto;
}
.pricing__checkout-advantage {
  font-size: 2rem;
  padding: 1.5rem 0 1.5rem 0;
  display: flex;
  align-items: center;
}
.pricing__checkout-advantage i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #07bf60;
}
.pricing__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing__logo-item {
  width: 7rem;
  padding-right: 1rem;
}

@media screen and (max-width: 1099px) {
  /* start of desktop styles */
}
@media screen and (max-width: 991px) {
  .pricing__subtitle {
    font-size: 2.1rem;
  }

  .pricing__title {
    font-size: 4rem;
  }

  .pricing__desc {
    font-size: 1.8rem;
  }

  .pricing__checkout {
    flex-direction: column;
  }

  .pricing__checkout-left {
    width: 70%;
    text-align: center;
    margin-bottom: 5rem;
  }

  .pricing__logo {
    justify-content: center;
  }

  .pricing__checkout-right {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .pricing__package {
    flex-direction: column;
    padding: 0 2rem;
  }
  .pricing__package-item {
    width: 100%;
    margin-bottom: 2rem;
  }

  .pricing__checkout-left {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .pricing__package {
    padding: 0 1rem;
  }

  .pricing {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.question {
  color: #0c0c0c;
  padding-top: 6rem;
  padding-bottom: 10rem;
}
.question__subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.question__title {
  font-size: 6.4rem;
  margin-bottom: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.question__title span {
  display: block;
}
.question__accordion {
  max-width: 94rem;
  width: 90%;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.question__accordion-item {
  border-top: 1px solid #0c0c0c;
  border-bottom: 1px solid #0c0c0c;
}
.question__accordion-item:first-child {
  border-top: 2px solid #0c0c0c;
}
.question__accordion-item:last-child {
  border-bottom: 2px solid #0c0c0c;
}
.question__accordion-title {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 2rem 4rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.question__accordion-title i {
  cursor: pointer;
}
.question__accordion-content {
  padding-bottom: 3rem;
  padding-right: 4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8;
  display: none;
  opacity: 0;
  -webkit-animation: smooth 0.3s ease-in;
  -moz-animation: smooth 0.3s ease-in;
  -o-animation: smooth 0.3s ease-in;
  -ms-animation: smooth 0.3s ease-in;
  animation: smooth 0.3s ease-in;
}
.question__accordion-content p {
  margin-bottom: 2rem;
}

@keyframes smooth {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@media screen and (max-width: 1099px) {
  /* start of desktop styles */
}
@media screen and (max-width: 991px) {
  .question__subtitle {
    font-size: 2.1rem;
  }

  .question__title {
    font-size: 4.5rem;
  }

  .question__accordion {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .question__accordion-title {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 767px) {
  .question__accordion-title {
    padding: 2rem 1rem 2rem 0;
  }
}
@media screen and (max-width: 479px) {
  .question__subtitle {
    font-size: 1.8rem;
  }

  .question__title {
    font-size: 3.5rem;
  }
}
.discord {
  padding-top: 10rem;
  padding-bottom: 18rem;
  background: linear-gradient(to bottom right, #2646b1 0%, #8952e4 94%);
}
.discord__container {
  text-align: center;
}
.discord__subtitle {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.discord__logo {
  width: 40rem;
  margin: 0 auto 4rem;
}
.discord__official {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.discord__official img {
  margin-right: 1rem;
}
.discord__partner {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.discord__button {
  background: #fff;
  color: #535aee;
  padding: 2rem 5rem;
  border: 1px solid transparent;
}
.discord__button:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid;
}

@media screen and (max-width: 1099px) {
  /* start of desktop styles */
}
@media screen and (max-width: 991px) {
  .discord {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .discord__subtitle {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 767px) {
  .discord {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .discord__logo {
    width: 70%;
  }
}
@media screen and (max-width: 479px) {
  .discord__subtitle {
    font-size: 1.8rem;
  }
}
.contact {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: #363a9b;
  background: linear-gradient(90deg, #363a9b 0%, #0d0d0d 35%, #0d0d0d 100%);
}
.contact__container {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__left, .contact__right {
  width: calc(50% - 2.5rem);
}
.contact__title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.contact__desc {
  font-size: 1.5rem;
}
.contact__right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.contact__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}
.contact__form input {
  flex-grow: 1;
  padding: 0.9rem 1.2rem;
  font-size: 1.4rem;
  background-color: #0c0c0c;
  border: 1px solid #504f4f;
  outline: none;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  color: #fff;
}
.contact__button {
  padding: 0.9rem 1.2rem;
  font-size: 1.4rem;
  background-color: transparent;
  border: 1px solid #504f4f;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.contact__button:hover {
  color: #0c0c0c;
  background-color: #fff;
}
.contact__rule {
  margin-left: 1rem;
  font-size: 1.2rem;
  opacity: 0.6;
}

@media screen and (max-width: 1099px) {
  .contact__container {
    flex-direction: column;
  }
  .contact__left, .contact__right {
    width: 100%;
    margin-bottom: 2rem;
  }
  .contact__right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}
@media screen and (max-width: 991px) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
}
@media screen and (max-width: 479px) {
  /* start of phone styles */
}
.footer {
  background-color: #0c0c0c;
  padding-top: 6rem;
  padding-bottom: 4rem;
}
.footer__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__left, .footer__right {
  width: calc(25% - 3rem);
}
.footer__center {
  width: calc(50% - 3rem);
}
.footer__logo {
  margin-bottom: 2rem;
}
.footer__resource {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.footer__links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__links1, .footer__links2 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.footer__link, .footer__email {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
}
.footer__link:hover, .footer__email:hover {
  opacity: 0.9;
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__social {
  margin-right: 1.5rem;
  font-size: 2.5rem;
  color: #fff;
}
.footer__social:hover {
  opacity: 0.9;
}

.info {
  text-align: center;
  padding-bottom: 1rem;
  background: #0c0c0c;
}
.info__copyrights {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.info__writer {
  font-size: 1.5rem;
  font-weight: 400;
}
.info__writer a {
  font-weight: 700;
  cursor: pointer;
  color: #535aee;
}
.info__writer a:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1099px) {
  /* start of desktop styles */
}
@media screen and (max-width: 991px) {
  .footer__left, .footer__right {
    width: calc(25% - 0.5rem);
  }
  .footer__center {
    width: calc(50% - 0.5rem);
  }
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__left, .footer__right {
    width: 100%;
  }
  .footer__left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .footer__right {
    text-align: center;
  }
  .footer__socials {
    justify-content: center;
  }
  .footer__center {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer__links {
    justify-content: space-evenly;
  }
  .footer__links1, .footer__links2 {
    width: fit-content;
  }
}
.login {
  padding-top: 16rem;
  padding-bottom: 10rem;
  color: #0c0c0c;
}
.login__container {
  max-width: 67.5rem;
  width: 100%;
  margin-right: auto;
}
.login__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.login__subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.login__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.login__button {
  margin-right: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__button i {
  margin-right: 1rem;
}
.login__or {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.login__form {
  width: 100%;
}
.login__form-group {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login__form-label {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.login__form-input {
  width: 100%;
  border: 1px solid #0c0c0c;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0c0c0c;
  outline: none;
}
.login__form-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.login__form-checkbox {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid #535aee;
}
.login__form-submit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.login__form-button {
  border: none;
  color: #fff;
  background: #535aee;
  outline: none;
  margin-right: 2rem;
  border-radius: 0.5rem;
  padding: 1.2rem 5rem;
  font-size: 1.8rem;
  cursor: pointer;
}
.login__form-button:hover {
  opacity: 0.9;
}
.login__form-forgot {
  font-size: 1.8rem;
  color: #535aee;
  text-decoration: underline;
}
.login__form-forgot:hover {
  opacity: 0.9;
}
.login__footer-text {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.login__footer-link {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #535aee;
  text-decoration: underline;
}
.login__footer-link:hover {
  opacity: 0.9;
}

@media screen and (max-width: 479px) {
  .login__buttons {
    flex-direction: column;
  }

  .login__button {
    width: 100%;
  }
  .login__button:first-child {
    margin-bottom: 1rem;
  }
}
.register {
  padding-top: 16rem;
  padding-bottom: 10rem;
  color: #0c0c0c;
}
.register__container {
  max-width: 67.5rem;
  width: 100%;
  margin-right: auto;
}
.register__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.register__subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.register__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.register__button {
  margin-right: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__button i {
  margin-right: 1rem;
}
.register__or {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.register__form {
  width: 100%;
}
.register__form-group {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.register__form-label {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.register__form-input {
  width: 100%;
  border: 1px solid #0c0c0c;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0c0c0c;
  outline: none;
}
.register__form-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.register__form-checkbox {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid #535aee;
}
.register__form-submit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.register__form-button {
  border: none;
  color: #fff;
  background: #535aee;
  outline: none;
  margin-right: 2rem;
  border-radius: 0.5rem;
  padding: 1.2rem 5rem;
  font-size: 1.8rem;
  cursor: pointer;
}
.register__form-button:hover {
  opacity: 0.9;
}
.register__form-forgot {
  font-size: 1.8rem;
  color: #535aee;
  text-decoration: underline;
}
.register__form-forgot:hover {
  opacity: 0.9;
}
.register__form-policy {
  font-size: 1.8rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #0c0c0c;
}
.register__form-policy a {
  color: #535aee;
  text-decoration: underline;
}
.register__form-policy a:hover {
  opacity: 0.9;
}
.register__footer-text {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.register__footer-link {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #535aee;
  text-decoration: underline;
}
.register__footer-link:hover {
  opacity: 0.9;
}

@media screen and (max-width: 479px) {
  .login__buttons {
    flex-direction: column;
  }

  .login__button {
    width: 100%;
  }
  .login__button:first-child {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 479px) {
  .register__buttons {
    flex-direction: column;
  }

  .register__button {
    width: 100%;
  }
  .register__button:first-child {
    margin-bottom: 1rem;
  }
}
.page__layout {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  background-color: #f7f7f9;
  color: #2f4050;
}

.sidebar {
  position: fixed;
  width: 23.2rem;
  height: 100vh;
  min-height: fit-content;
  top: 0;
  left: 0;
  bottom: 0;
  color: #929da8;
  background-color: #2f4050;
  display: flex;
  flex-direction: column;
}
.sidebar__logo {
  padding: 0 2.2rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.sidebar__links {
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.sidebar__link {
  width: 100%;
}
.sidebar__link:hover {
  background-color: #222e3a;
}
.sidebar__link a {
  padding: 1rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #929da8;
  font-size: 1.6rem;
}
.sidebar__link a i {
  padding-right: 1.6rem;
  position: relative;
  width: 3.6rem;
}
.sidebar__link a span {
  margin-left: auto;
  padding: 0.1rem 0.8rem;
  color: #fff;
  background-color: #db5e5e;
  font-size: 1.4rem;
}
.sidebar__active {
  background-color: #222e3a;
}
.sidebar__footer {
  margin-top: auto;
  padding: 0 2.2rem;
}
.sidebar__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.sidebar__socials-content {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.sidebar__socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__social {
  margin: 0 0.8rem;
  font-size: 2rem;
  color: #929da8;
}
.sidebar__downloads {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.sidebar__download:first-child {
  margin-right: 1rem;
}

.page__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  margin-left: 23.2rem;
}

.dashboard__wrapper {
  padding: 0 1rem;
}

.page__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 7rem;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 #cfdae0;
  border-bottom: 1px solid transparent;
  z-index: 1;
  position: fixed;
  left: 23.2rem;
  right: 0;
  top: 0;
}

.top-panel__button {
  margin-right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.top-panel__exchange {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-counter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.header-counter:first-child {
  margin-right: 2rem;
}

.header__label {
  font-size: 1.3rem;
  color: #bac2c8;
}

.header__value {
  font-size: 1.4rem;
  color: #000000;
  font-weight: 700;
}

.header__movement {
  font-size: 1.2rem;
}
.header__movement.plus {
  color: #07bf60;
}
.header__movement.minus {
  color: #ff5a5f;
}

.top-panel__balance {
  margin-left: auto;
  margin-right: 2rem;
  border-radius: 1rem;
  border: 1px solid #00a59a;
  background-color: rgba(0, 165, 154, 0.1);
  padding: 0.2rem 1rem;
}

.balance__title {
  font-size: 1.5rem;
  color: #00a59a;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 600;
}

.balance__value-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.balance__value-text-small {
  font-size: 1.4rem;
  color: #00a59a;
}

.top-panel__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-panel__user-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 1.5rem;
}
.top-panel__user-left-title {
  font-size: 2rem;
  font-weight: bold;
}
.top-panel__user-left-upgrade {
  font-size: 1.2rem;
  color: #00a59a;
  cursor: pointer;
}

.top-panel__user-right {
  position: relative;
}

.top-panel__user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.top-panel__user-info i {
  font-size: 1.5rem;
}

.top-panel__user-right-avatar img {
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 1px solid transparent;
}

.user__dropdown {
  position: absolute;
  right: 0;
  top: 5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(50, 64, 78, 0.1);
  border: 1px solid #cfdae0;
  border-radius: 1rem;
  width: 19rem;
}

.user__dropdown__container {
  padding: 1.2rem;
}

.user__dropdown-header {
  font-size: 1.4rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #cfdae0;
}

.user__dropdown-body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.user__dropdown-list {
  margin: 1rem 0;
}

.user__dropdown-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  color: #2f4050;
}
.user__dropdown-link i {
  padding-right: 1.6rem;
  position: relative;
  width: 2.5rem;
}
.user__dropdown-link:hover {
  color: #00a59a;
}

.dropdown__button {
  color: #fff;
  background-color: #00a59a;
  padding: 1rem 4rem;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  width: 100%;
  font-size: 1.5rem;
  display: inline-block;
  font-weight: bold;
}

.dropdown__button-content {
  display: flex;
  align-items: center;
}
.dropdown__button-content i {
  margin-right: 1rem;
}

.page__exchange {
  margin-top: 7rem;
  height: 100rem;
}

.page__footer {
  background-color: #fff;
  color: #2f4050;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  box-shadow: 0 1px 4px 0 #cfdae0;
  border-top: 1px solid transparent;
  z-index: 1;
  font-size: 1.5rem;
  width: 100%;
}
.page__footer__logo-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page__footer__logo-item {
  width: 5.5rem;
  padding-right: 1rem;
  color: #00a59a;
}
.page__footer__logo-item img {
  filter: invert(100%);
}
.page__footer__term-and-mail {
  display: flex;
  align-items: center;
}
.page__footer__term a, .page__footer__mail a {
  color: #5790e0;
}
.page__footer__term, .page__footer__mail {
  padding: 0 0.5rem;
}
.page__footer__term {
  border-right: 1px solid gray;
}

@media screen and (max-width: 1099px) {
  /* start of desktop styles */
}
@media screen and (max-width: 991px) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
}
@media screen and (max-width: 479px) {
  /* start of phone styles */
}

/*# sourceMappingURL=style.css.map */
